<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="landing">
      <div class="dashboard">
        <div class="dashboard-section">
          <p class="dashboard-text">You have worked with</p>
          <p class="dashboard-text value first" id="total_students" hx-get="/get_total_students" hx-trigger="load" hx-swap="innerHTML"></p>
          <p class="dashboard-text">students</p>
        </div>
        <div class="dashboard-section">
          <p class="dashboard-text">You have taught</p>
          <p class="dashboard-text value second" id="total_students" hx-get="/get_total_hours" hx-trigger="load" hx-swap="innerHTML"></p>
          <p class="dashboard-text">hours of lessons</p>
        </div>
        <div class="dashboard-section">
          <p class="dashboard-text">You have been paid</p>
          <p class="dashboard-text value third" id="total_students" hx-get="/get_total_income" hx-trigger="load" hx-swap="innerHTML"></p>
          <p class="dashboard-text">for work done</p>
        </div>
      </div>
      <div class="button-background" id="button-background">
        <div class="button-container" id="button-container">
          <!-- 5 Buttons for triggering different actions -->
          <button class="option-button" hx-get="/action/create_invoice" hx-target="#landing" hx-swap="outerHTML">Create Invoice</button>
          <button class="option-button" hx-get="/action/add_student" hx-target="#landing" hx-swap="outerHTML">Add Student</button>
          <button class="option-button" hx-get="/action/edit_student" hx-target="#landing" hx-swap="outerHTML">Edit Student</button>
          <button class="option-button" hx-get="/action/remove_student" hx-target="#landing" hx-swap="outerHTML">Remove Student</button>
          <button class="option-button" hx-get="/action/TODO" hx-target="#landing" hx-swap="outerHTML">TODO</button>
        </div>
      </div>
    </div>
  </body>
</html>
